//-
	Join
	------------------------------
	
	Args
	* modal  - boolean
	* initial [default "join"] - accepts "sign-in" | "join" | "password"
	
mixin form-join(args)
	.auth-box.modal-pane-join(class=args.modal && args.initial != 'join' ? 'hidden' : null)
		if args.modal
			.modal-header
				h4.modal-title Join
				button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
		div(class=args.modal ? 'modal-body' : null)
			div.text-center: a.btn.facebook(href='/auth/facebook?target=' + query, title='Sign in with Facebook')
				i.fab.fa-facebook(aria-hidden='true')
				span Join with Facebook
			div.my-3.text-center: i.text-muted or
			//- p Or use your email, that's okay too:
			form(method='post', action='/join', autocomplete='off', novalidate).auth-form
				input(type='hidden', name='action', value='join')
				input(type='hidden', name='target', value=args.modal ? query : null)
				if !args.modal
					if form.error
						.flash-messages
							.alert.alert-danger
								div!= form.error.message || form.error
								
								//- Field Errors
								if form.error.errors && !_.isEmpty(form.error.errors)
									ul
										each error, key in form.error.errors
											li!= error.msg
					
					- var checkFormError = function(key) { return form.error && form.error.errors && form.error.errors[key] ? 'has-error' : null }
					- var nameError = (checkFormError('firstName') || checkFormError('lastName')) ? 'has-error' : null
				.form-groups
					.form-group.form-row(class=nameError)
						.col-6
							label(for='firstname').sr-only First name
							input(type='text', name='firstName', placeholder='First name', value=!args.modal ? form.firstname : null).form-control.form-control--first
						.col-6
							label(for='lastname').sr-only Last name
							input(type='text', name='lastName', placeholder='Last name', value=!args.modal ? form.lastname : null).form-control
					.form-group(class=!args.modal ? checkFormError('email') : null)
						label(for='email').sr-only Email
						input(type='email', name='email', placeholder='Email', value=!args.modal ? form.email : null).form-control
					.form-group(class=!args.modal ? checkFormError('password') : null)
						label(for='password').sr-only Password
						input(type='password', name='password', placeholder='Password', value=!args.modal ? form.password : null).form-control
				.row: .col-6.mx-auto.my-3
					button(type='submit').btn.btn-lg.btn-block.btn-primary.btn-submit Join
			p.text-center.text-muted.mt-1
				| Have an account? 
				a(href=args.modal ? js : '/sign-in', rel=args.modal ? 'modal-pane' : null, data-modal-pane=args.modal ? 'sign-in' : null) Sign in
